body{
    font-family: 'Poppins', sans-serif;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
}

ul{
    list-style: none;
}

.tarefa {
    box-sizing: border-box;
    border: 1px solid #5C5C5C;
    border-radius: 16px;
    padding: 16px;
    width: 1024px;
}

.etiquetas{
    font-weight: bold;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.prioridade{
    color: #FFFFFF;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 4px 0;
}

.etiqueta{
    border: 1px solid #B6B6B6;
    border-radius: 4px;
    padding: 4px 12px;
    color: #B6B6B6;
    margin: 4px 0;
}

.tarefa-descricao{
    gap: 16px;
    display: flex;
    align-items: flex-start;
    color: #181818;
}

h2{
    border-right: 1px solid #5C5C5C;
    padding-right: 16px;
    font-size: 20px;
    font-weight: bolder;
}

p{
    padding-top: 4px;
    font-size: 16px;
}
