html{
    font-family: var(--fonte-poppins);
}

/* ------------------------------------------- */
/* CSS do Formulário */
/* ------------------------------------------- */

.boxform{
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--scorpion);
    border-radius: 16px;
    padding: 40px;
    width: 1024px;
    color: var(--tundora);
    margin-bottom: 24px;
}

li{
    list-style: none;
}

.align1{
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.align2{
    display: flex;
    flex-direction: column;
}

.titulo, .prio, .data{
    border: 1px solid var(--tundora);
    border-radius: 8px;
    height: 40px;
}

.titulo{
    width: 457px;
}

.prio, .data{
    width: 216.5px;
}

.desc{
    border: 1px solid var(--tundora);
    border-radius: 8px;
    width: 457px;
    height: 79.5px;
}

.align3{
    display: flex;
    justify-content: center;
    text-align: center;  
}

.buttons{ 
    display: flex;
    gap: 24px;
}

.limpar{
    color: var(--tundora);
    border: 1px solid var(--tundora);
    border-radius: 8px;
    width: 169px;
    padding: 4px;
    text-align: center;
}

.adicionar{
    color: white;
    background-color: var(--tundora);
    border: 1px solid var(--tundora);
    border-radius: 8px;
    width: 169px;
    padding: 4px;
    text-align: center;
}

/* ------------------------------------------- */
/* Css das Tarefas */
/* ------------------------------------------- */

.main-titulo{
    font-size: 24px;
    font-weight: bold;
    color: var(--tundora);
    display: flex;
    justify-content: center;
}

.centro {
    display: flex;
    justify-content: center;
}

.tarefa {
    list-style: none;
    box-sizing: border-box;
    width: 1024px;
    border: 1px solid var(--scorpion);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 24px;
}

.etiquetas{
    display: flex;
    font-weight: 600;
    gap: 8px;
}

.etiqueta{
    border: 1px solid var(--nobel);
    border-radius: 4px;
    color: var(--nobel);
    padding: 4px 8px;
}

.tarefa-descricao{
    display: flex;
    align-items: center;
    color: var(--cod-gray);
    gap: 16px;
}

h2{
    font-weight: bold;
    font-size: 20px;
    border-right: 1px solid var(--nobel);
    padding-right: 16px;
}

p{
    font-size: 16px;
}

.prioridade-alta{
    background-color: var(--flush-mahogany);
    border: 0px solid var(--flush-mahogany);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}

.prioridade-media{
    background-color: var(--yellow-orange);
    border: 0px solid var(--yellow-orange);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}

.prioridade-baixa{
    background-color: var(--sushi);
    border: 0px solid var(--sushi);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}