html{
    font-family: var(--fonte-poppins);
}

form{
    box-sizing: border-box;
    border: 1px solid var(--scorpion);
    border-radius: 16px;
    padding: 40px;
    
    ul{
        list-style: none;
    }
}

.line1, .titulo, .data, .desc, select{
    border-radius: 8px;
    height: 40px;
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.titulo, .data, .desc{
    border: 1px solid var(--tundora);    
}

.prio{
    width: 216px;
}

.titulo{
    width: 417px;
}

.data{
    width: 216px;
}

.line2{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.line3{
    display: flex;
    justify-content: center;
    gap: 24px;
}

a{
    padding: 0.2rem 5rem;
    border-radius: 8px;
}

.limpar{
    background-color: var(--white);
    border: 1px solid var(--tundora);
}

.adicionar{
    background-color: var(--tundora);
    color: var(--white);
}


.main-titulo{
    font-size: 24px;
    font-weight: bold;
    color: var(--tundora);
    display: flex;
    justify-content: center;
}

.centro {
    display: flex;
    justify-content: center;
}


.tarefa {
    list-style: none;
    box-sizing: border-box;
    width: 1024px;
    border: 1px solid var(--scorpion);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 24px;
}

.etiquetas{
    display: flex;
    font-weight: 600;
    gap: 8px;
}

.etiqueta{
    border: 1px solid var(--nobel);
    border-radius: 4px;
    color: var(--nobel);
    padding: 4px 8px;
}

.tarefa-descricao{
    display: flex;
    align-items: center;
    color: var(--cod-gray);
    gap: 16px;
}

h2{
    font-weight: bold;
    font-size: 20px;
    border-right: 1px solid var(--nobel);
    padding-right: 16px;
}

p{
    font-size: 16px;
}

.prioridade-alta{
    background-color: var(--flush-mahogany);
    border: 0px solid var(--flush-mahogany);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}

.prioridade-media{
    background-color: var(--yellow-orange);
    border: 0px solid var(--yellow-orange);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}

.prioridade-baixa{
    background-color: var(--sushi);
    border: 0px solid var(--sushi);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 12px;
}