html {
    --tundora: #4A4A4A;
    --scorpion: #5C5C5C;
    --nobel: #B6B6B6;
    --cod-gray: #181818;
    --white: #FFFFFF;
    --flush-mahogany: #CF3F3F;
    --yellow-orange: #FFBD3D;
    --sushi: #72C240;

    --fonte-poppins: 'Poppins', sans-serif;
}